<div class="row mt-5">
    <div class="col-md-6 m-auto">
<div class="container">
    <div class="card shadow m-2 p-2">
        <b>First Name: </b><%=player.FIRST_NAME%>
        <b>Last Name: </b><%=player.LAST_NAME%>
        <b>Position: </b><%=player.POSITION%>
        <b>Team:</b> <%=team.NAME%>
        <b>Total points:</b><%=playertotalpoints.TPOINTS%>

    </div>
</div>
    </div>
</div>